*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#02060f;

color:#fff;

}

.layout{

display:flex;

min-height:100vh;

}


.sidebar{

width:240px;

padding:30px;

background:#030b16;

border-right:1px solid #00ff59;

}

.green{

color:#00ff48;

}

.sidebar h1{

font-size:60px;

}

.sidebar p{

opacity:.7;

margin-top:10px;

margin-bottom:30px;

}

.menu{

display:block;

padding:20px;

margin-bottom:15px;

border:1px solid #18273b;

border-radius:14px;

background:#071019;

}

.active{

border:1px solid #00ff4c;

}

.copy{

margin-top:250px;

color:#00ff48;

}


.main{

flex:1;

padding:30px;

}


.box{

padding:30px;

border-radius:25px;

background:#030b16;

border:1px solid #00ff40;

box-shadow:

0 0 40px rgba(0,255,90,.3);

}


.title{

display:flex;

justify-content:space-between;

align-items:center;

font-size:45px;

color:#ffd500;

margin-bottom:30px;

}


#resetBtn{

width:120px;

height:60px;

background:#111;

color:white;

border:none;

border-radius:14px;

}


.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}


input,
select,
textarea{

width:100%;

padding:18px;

margin-top:15px;

background:#06111f;

color:white;

border:1px solid #233246;

border-radius:14px;

}


textarea{

height:170px;

}


.save{

width:100%;

height:70px;

margin-top:25px;

border:none;

border-radius:14px;

font-size:35px;

background:

linear-gradient(
90deg,

green,

yellow,

red

);

}


.saved{

margin-top:35px;

padding:30px;

border-radius:25px;

background:#030b16;

}


.top{

display:flex;

gap:15px;

align-items:center;

}


#search{

flex:1;

}


#total{

color:#00ff40;

font-size:28px;

}


.card{

display:flex;

gap:20px;

padding:20px;

margin-top:20px;

border:1px solid #24384e;

border-radius:20px;

}


.preview{

width:150px;

height:150px;

object-fit:cover;

border-radius:14px;

}


.content{

flex:1;

}


.name{

color:#00ff4c;

font-size:34px;

}


.row{

display:flex;

gap:20px;

margin-top:15px;

}


.actions{

display:flex;

flex-direction:column;

gap:10px;

}


.play{

background:#0ea53a;

}

.view{

background:#205dff;

}

.delete{

background:#d80000;

}


.actions button{

width:170px;

height:55px;

border:none;

color:white;

border-radius:12px;

}


@media(max-width:900px){

.layout{

flex-direction:column;

}

.sidebar{

width:100%;

}

.grid{

grid-template-columns:1fr;

}

.card{

flex-direction:column;

}

}
